.category-items-page {
  width: 100vw;
  height: 100%;
  overflow: hidden;
}
.goods-list-container {
  width: 100%;
  height: 100%;
  padding: 120px 20px 20px 20px;
  margin-bottom: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    &-thumb {
      background: transparent;
    }
  }
  @include bp($tablet, min) {
    height: 100vh;
    padding: 120px 40px 70px 40px;
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  @include bp($desktopSmall, min) {
    padding: 140px 0 80px 40px;
  }
  @include bp($desktopFullHd, min) {
    padding: 140px 0 60px 40px;
  }
  .goods-list-wrapper {
    width: auto;
    height: 100%;
    @include bp($tablet, min) {
      min-width: max-content;
      justify-items: start;
      justify-content: start;
      padding-right: 40px;
      display: grid;
      grid-gap: 20px;
      grid-template-rows: repeat(auto-fit, 100%);
      grid-auto-flow: column dense;
    }
  }
}
