@font-face {
  font-family: SegoeUI;
  src: url('~assets/fonts/SegoeUILight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: SegoeUI;
  src: url('~assets/fonts/SegoeUIRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
