@mixin bp($point, $type: max) {
  @media all and (#{$type}-width: #{$point}px) {
    @content;
  }
}

@mixin bpo($point, $type: max, $orientation: portrait) {
  @media all and (#{$type}-width: #{$point}px) and (orientation: #{$orientation}) {
    @content;
  }
}
