.header-block {
  position: fixed;
  top: 0;
  left: -10vw;
  width: 120vw;
  height: auto;
  box-sizing: border-box;
  background-color: #ffffff;
  z-index: 9999;
  .elements-wrapper {
    background-color: #4ea686;
    width: 100%;
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    @include bp($tablet, min) {
      background-color: #d9caad;
    }
    @include bp($desktopSmall, min) {
      height: 65px;
    }
    @include bp($desktopFullHd, min) {
      height: 80px;
    }
    &.shadowed {
      -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.5);
    }
    .header-back-button-container {
      background-color: #4ea686;
      width: 40%;
      height: 100%;
      -webkit-transform: skewX(-45deg);
      -moz-transform: skewX(-45deg);
      -ms-transform: skewX(-45deg);
      -o-transform: skewX(-45deg);
      transform: skewX(-45deg);
      z-index: 10;
      @include bp($tablet, min) {
        width: 20%;
      }
      &__back-button {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        cursor: pointer;
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 31vw;
          -webkit-transform: skewX(45deg) translate3d(-50%, -50%, 0);
          -moz-transform: skewX(45deg) translate3d(-50%, -50%, 0);
          -ms-transform: skewX(45deg) translate3d(-50%, -50%, 0);
          -o-transform: skewX(45deg) translate3d(-50%, -50%, 0);
          transform: skewX(45deg) translate3d(-50%, -50%, 0);
          width: 30px;
          height: 30px;
          background-image: url('~assets/img/back-btn.png');
          background-size: cover;
          @include bp($tablet, min) {
            width: 25px;
            height: 25px;
            top: 50%;
            left: 18vw;
          }
          @include bp($desktopSmall, min) {
            width: 30px;
            height: 30px;
            top: 50%;
            left: 18vw;
          }
          @include bp($desktopFullHd, min) {
            width: 40px;
            height: 40px;
            top: 50%;
            left: 18vw;
          }
        }
      }
    }
    .header-title-container {
      background-color: #d9caad;
      display: none;
      width: 60%;
      height: 100%;
      -webkit-transform: skewX(-45deg);
      -moz-transform: skewX(-45deg);
      -ms-transform: skewX(-45deg);
      -o-transform: skewX(-45deg);
      transform: skewX(-45deg);
      z-index: 10;
      @include bp($tablet, min) {
        display: flex;
        align-items: center;
      }
      &__title {
        -webkit-transform: skewX(45deg);
        -moz-transform: skewX(45deg);
        -ms-transform: skewX(45deg);
        -o-transform: skewX(45deg);
        transform: skewX(45deg);
        @include bp($tablet, min) {
          text-transform: capitalize;
          width: 100%;
          font-weight: 200;
          font-size: 22px;
          line-height: 26px;
          box-sizing: border-box;
          text-align: center;
        }
        @include bp($desktopSmall, min) {
          font-size: 30px;
          line-height: 26px;
        }
        @include bp($desktopFullHd, min) {
          font-size: 44px;
          line-height: 26px;
        }
      }
    }

    .header-cart-button-container {
      position: relative;
      background-color: #d9644a;
      width: 60%;
      height: 100%;
      -webkit-transform: skewX(-45deg);
      -moz-transform: skewX(-45deg);
      -ms-transform: skewX(-45deg);
      -o-transform: skewX(-45deg);
      transform: skewX(-45deg);
      z-index: 10;
      @include bp($tablet, min) {
        width: 20%;
      }
      &__cart-button {
        box-sizing: border-box;
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        cursor: pointer;
        background-size: 26px;
        text-align: center;
        font-size: 22px;
        line-height: 42px;
        color: #ffffff;
        text-decoration: none;
        -webkit-transform: skewX(45deg);
        -moz-transform: skewX(45deg);
        -ms-transform: skewX(45deg);
        -o-transform: skewX(45deg);
        transform: skewX(45deg);
        span {
          position: relative;
          margin-left: 10px;
          &::before {
            content: '';
            position: absolute;
            top: -1px;
            left: -38px;
            width: 25px;
            height: 25px;
            background-image: url('~assets/img/cart.png');
            background-size: cover;
            @include bp($tablet, min) {
              top: 0;
              left: -30px;
              width: 20px;
              height: 20px;
            }
            @include bp($desktopSmall, min) {
              top: 0;
              left: -34px;
              width: 30px;
              height: 28px;
            }
            @include bp($desktopFullHd, min) {
              top: 0;
              left: -52px;
              width: 44px;
              height: 42px;
            }
          }
        }
        @include bp($tablet, min) {
          text-align: center;
          padding-left: 36px;
          box-sizing: border-box;
          font-size: 18px;
          line-height: 52px;
          padding-right: 10vw;
        }
        @include bp($desktopSmall, min) {
          font-size: 26px;
          line-height: 62px;
        }
        @include bp($desktopFullHd, min) {
          font-size: 40px;
          line-height: 78px;
          padding-right: 8vw;
        }
      }
    }
  }
  .mobile-header-title-container {
    position: absolute;
    top: 40px;
    left: 0;
    width: 120vw;
    box-sizing: border-box;
    background-color: #d9caad;
    padding: 8px 15vw;
    z-index: 1;
    @include bp($tablet, min) {
      display: none;
    }
    &__title {
      text-transform: capitalize;
      text-align: center;
      font-weight: 200;
      font-size: 19px;
      line-height: 21px;
    }
  }
}
