.cart-footer {
  position: fixed;
  bottom: 0;
  left: -10vw;
  width: 120vw;
  height: auto;
  box-sizing: border-box;
  background-color: #ffffff;
  z-index: 9999;
  .elements-wrapper {
    background-color: #4ea686;
    width: 100%;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    @include bpo($mobileSmall, min, landscape) {
      height: 40px;
    }
    @include bp($desktopSmall, min) {
      height: 65px;
    }
    @include bp($desktopFullHd, min) {
      height: 80px;
    }
    .footer-continue-button-container {
      background-color: #4ea686;
      width: 50%;
      height: 100%;
      -webkit-transform: skewX(-45deg);
      -moz-transform: skewX(-45deg);
      -ms-transform: skewX(-45deg);
      -o-transform: skewX(-45deg);
      transform: skewX(-45deg);
      &__continue-button {
        box-sizing: border-box;
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        cursor: pointer;
        text-align: center;
        font-size: 16px;
        line-height: 52px;
        color: #ffffff;
        text-decoration: none;
        -webkit-transform: skewX(45deg);
        -moz-transform: skewX(45deg);
        -ms-transform: skewX(45deg);
        -o-transform: skewX(45deg);
        transform: skewX(45deg);
        padding-left: 5vw;
        @include bpo($mobileSmall, min, landscape) {
          line-height: 38px;
        }
        @include bp($tablet, min) {
          font-size: 18px;
          line-height: 52px;
          padding-left: 10vw;
        }
        @include bp($desktopSmall, min) {
          font-size: 26px;
          line-height: 62px;
        }
        @include bp($desktopFullHd, min) {
          font-size: 40px;
          line-height: 78px;
          padding-left: 8vw;
        }
      }
    }

    .footer-buy-button-container {
      position: relative;
      background-color: #d9644a;
      width: 50%;
      height: 100%;
      -webkit-transform: skewX(-45deg);
      -moz-transform: skewX(-45deg);
      -ms-transform: skewX(-45deg);
      -o-transform: skewX(-45deg);
      transform: skewX(-45deg);
      z-index: 10;
      &__buy-button {
        box-sizing: border-box;
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        cursor: pointer;
        background-size: 26px;
        text-align: center;
        font-size: 16px;
        line-height: 52px;
        color: #ffffff;
        text-decoration: none;
        -webkit-transform: skewX(45deg);
        -moz-transform: skewX(45deg);
        -ms-transform: skewX(45deg);
        -o-transform: skewX(45deg);
        transform: skewX(45deg);
        padding-right: 5vw;
        @include bpo($mobileSmall, min, landscape) {
          line-height: 38px;
        }
        @include bp($tablet, min) {
          font-size: 18px;
          line-height: 52px;
          padding-right: 10vw;
        }
        @include bp($desktopSmall, min) {
          font-size: 26px;
          line-height: 62px;
        }
        @include bp($desktopFullHd, min) {
          font-size: 40px;
          line-height: 78px;
          padding-right: 8vw;
        }
      }
    }
  }
}
