article {
  font-family: 'SegoeUI';
  position: relative;
  margin-right: 6px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.3);
  @include bp($tablet, min) {
    grid-column: span 18;
    width: 100%;
    margin: 0;
  }
  @include bp($desktopSmall, min) {
    grid-column: span 20;
  }
  @include bp($desktopFullHd, min) {
    grid-column: span 22;
  }
  figure {
    height: 370px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    @include bp($tablet, min) {
      height: 100%;
    }
    figcaption {
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      bottom: 0;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.8);
      height: 50px;
      color: #333333;
      padding: 0 20px;
      box-sizing: border-box;
      @include bp($desktopSmall, min) {
        height: 60px;
      }
      @include bp($desktopFullHd, min) {
        height: 70px;
      }
      .goods-name {
        font-size: 21px;
        color: #2f2e2c;
        line-height: 40px;
        letter-spacing: 1px;
        @include bp($desktopSmall, min) {
          font-size: 28px;
          line-height: 39px;
        }
        @include bp($desktopFullHd, min) {
          font-size: 32px;
          line-height: 39px;
        }
      }
      .goods-cost {
        color: #d9644a;
        font-size: 30px;
        line-height: 39px;
        @include bp($desktopSmall, min) {
          font-size: 36px;
          line-height: 39px;
        }
        @include bp($desktopFullHd, min) {
          font-size: 34px;
          line-height: 39px;
        }
      }
    }
  }
  .control-btns {
    width: 100%;
    height: 60px;
    background-color: #4ea686;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    padding: 0 20px;
    box-sizing: border-box;
    @include bp($desktopSmall, min) {
      height: 70px;
    }
    @include bp($desktopFullHd, min) {
      height: 80px;
    }
    .btn {
      width: 35px;
      height: 35px;
      &:focus {
        outline: none;
      }
      @include bp($desktopSmall, min) {
        width: 40px;
        height: 40px;
      }
      @include bp($desktopFullHd, min) {
        width: 45px;
        height: 45px;
      }
      &.minus-btn {
        background: url('~assets/img/minus.png') no-repeat center center;
        background-size: cover;
      }
      &.add-btn {
        background: url('~assets/img/plus.png') no-repeat center center;
        background-size: cover;
      }
    }
    .amount-info {
      width: 70px;
      display: flex;
      flex-direction: column;
      height: 45px;
      align-items: center;
      font-size: 14px;
      @include bp($desktopSmall, min) {
        font-size: 15px;
      }
      @include bp($desktopFullHd, min) {
        font-size: 16px;
      }
      p {
        font-size: 30px;
        @include bp($desktopSmall, min) {
          font-size: 32px;
        }
        @include bp($desktopFullHd, min) {
          font-size: 34px;
        }
      }
    }
  }
}
