.category-item {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  overflow: hidden;
  display: block;
  -webkit-box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.3);
  @include bpo($mobileSmall, min, landscape) {
    width: 30%;
    height: 210px;
  }
  @include bpo($mobile, min, landscape) {
    width: 30%;
    height: 210px;
  }
  @include bp($mobileSmall, min) {
    width: 48%;
    height: 210px;
  }
  @include bp($tablet, min) {
    height: auto;
    width: auto;
    margin-bottom: 0;
    overflow: hidden;
  }
  figure {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    @include bpo($mobileSmall, min, landscape) {
      height: 100%;
      width: 100%;
    }
    @include bp($mobileSmall, min) {
      height: 100%;
      width: 100%;
    }
    @include bp($tablet, min) {
      height: 100%;
      width: 100%;
    }
    > figcaption {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.8);
      color: #333333;
      font-family: 'SegoeUI';
      height: 40px;
      font-size: 22px;
      line-height: 40px;
      padding-left: 20px;
      @include bpo($mobileSmall, min, landscape) {
        height: 35px;
        font-size: 18px;
        line-height: 35px;
      }
      @include bp($tablet, min) {
        height: 50px;
        font-size: 26px;
        line-height: 50px;
      }
      @include bp($desktopSmall, min) {
        height: 60px;
        font-size: 28px;
        line-height: 60px;
      }
      @include bp($desktopFullHd, min) {
        height: 70px;
        font-size: 32px;
        line-height: 70px;
      }
    }
  }
  &.large {
    grid-column: span 18;
    grid-row-end: span 2;
    @include bp($desktopSmall, min) {
      grid-column: span 18;
    }
    @include bpo($desktopSmall, min, portrait) {
      grid-column: span 32;
    }
    @include bp($desktop, min) {
      grid-column: span 20;
    }
    @include bp($desktopFullHd, min) {
      grid-column: span 24;
    }
  }
  &.high {
    grid-column: span 12;
    grid-row-end: span 2;
    @include bp($desktopSmall, min) {
      grid-column: span 12;
    }
    @include bpo($desktopSmall, min, portrait) {
      grid-column: span 22;
    }
    @include bp($desktop, min) {
      grid-column: span 14;
    }
    @include bp($desktopFullHd, min) {
      grid-column: span 16;
    }
  }
  &.wide {
    grid-column: span 18;
    grid-row-end: span 1;
    @include bp($desktopSmall, min) {
      grid-column: span 18;
    }
    @include bpo($desktopSmall, min, portrait) {
      grid-column: span 32;
    }
    @include bp($desktop, min) {
      grid-column: span 20;
    }
    @include bp($desktopFullHd, min) {
      grid-column: span 24;
    }
  }
  &.small {
    grid-column: span 12;
    grid-row-end: span 1;
    @include bp($desktopSmall, min) {
      grid-column: span 12;
    }
    @include bpo($desktopSmall, min, portrait) {
      grid-column: span 22;
    }
    @include bp($desktop, min) {
      grid-column: span 14;
    }
    @include bp($desktopFullHd, min) {
      grid-column: span 16;
    }
  }
  &.extra-wide {
    grid-column: span 24;
    grid-row-end: span 1;
    @include bp($desktopSmall, min) {
      grid-column: span 24;
    }
    @include bpo($desktopSmall, min, portrait) {
      grid-column: span 44;
    }
    @include bp($desktop, min) {
      grid-column: span 28;
    }
    @include bp($desktopFullHd, min) {
      grid-column: span 32;
    }
  }
}
