.message-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &__text {
    font-size: 32px;
    text-transform: capitalize;
    font-weight: 200;
    text-align: center;
    line-height: 40px;
    @include bp($tablet, min) {
      font-size: 36px;
    }
    @include bp($desktopSmall, min) {
      font-size: 42px;
    }
    @include bp($desktopFullHd, min) {
      font-size: 50px;
    }
  }
}
