.cart-content {
  width: 100%;
  height: 100%;
  padding: 105px 15px 20px 15px;
  box-sizing: border-box;
  @include bp($tablet, min) {
    padding: 80px 30px 70px 30px;
  }
  @include bp($desktopSmall, min) {
    padding: 100px 40px 40px 40px;
  }
  @include bp($desktopFullHd, min) {
    padding: 120px 40px 60px 40px;
  }
  &__header {
    height: 30px;
    display: flex;
    width: 100%;
    background-color: #343e40;
    color: white;
    font-weight: 400;
    font-size: 14px;
    @include bp($tablet, min) {
      height: 35px;
    }
    @include bp($desktopSmall, min) {
      height: 40px;
    }
    @include bp($desktopFullHd, min) {
      height: 50px;
    }
  }
  &__main {
    height: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: calc(100vh - 230px);
    & > .main-content-wrapper {
      height: auto;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      .order-row {
        background-color: #d9644a;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: justify;
        color: #ffffff;
        @include bp($tablet, min) {
          height: 55px;
        }
        @include bp($desktopSmall, min) {
          height: 60px;
        }
        @include bp($desktopFullHd, min) {
          height: 65px;
        }
        &:nth-child(even) {
          background-color: #bf613f;
        }
        .name-cell {
          height: auto;
          line-height: 22px;
          font-size: 16px;
          @include bp($tablet, min) {
            line-height: 22px;
            font-size: 18px;
          }
          @include bp($desktopSmall, min) {
            line-height: 22px;
            font-size: 20px;
          }
          @include bp($desktopFullHd, min) {
            line-height: 22px;
            font-size: 22px;
          }
        }
        .amount-cell {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          text-align: center;
          &__controls {
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            line-height: 15px;
            color: white;
            height: 26px;
            .div-amount {
              width: 16px;
              height: 16px;
              cursor: pointer;
              background: url('~assets/img/minus.png') no-repeat center center;
              background-size: cover;
              @include bp($tablet, min) {
                width: 20px;
                height: 20px;
                line-height: 20px;
              }
              @include bp($desktopSmall, min) {
                width: 20px;
                height: 20px;
                line-height: 20px;
              }
              @include bp($desktopFullHd, min) {
                width: 22px;
                height: 22px;
                line-height: 22px;
              }
            }
            .add-amount {
              width: 16px;
              height: 16px;
              cursor: pointer;
              background: url('~assets/img/plus.png') no-repeat center center;
              background-size: cover;
              @include bp($tablet, min) {
                width: 20px;
                height: 20px;
                line-height: 20px;
              }
              @include bp($desktopSmall, min) {
                width: 20px;
                height: 20px;
                line-height: 20px;
              }
              @include bp($desktopFullHd, min) {
                width: 22px;
                height: 22px;
                line-height: 22px;
              }
            }
            .total-amount {
              font-size: 16px;
              line-height: 16px;
              @include bp($tablet, min) {
                font-size: 20px;
                line-height: 20px;
              }
              @include bp($desktopSmall, min) {
                font-size: 22px;
                line-height: 22px;
              }
              @include bp($desktopFullHd, min) {
                font-size: 24px;
                line-height: 24px;
              }
            }
          }
          &__total {
            line-height: 22px;
            color: #ffffff;
            font-weight: 400;
            @include bp($tablet, min) {
              font-size: 18px;
              line-height: 22px;
            }
            @include bp($desktopSmall, min) {
              font-size: 20px;
              line-height: 22px;
            }
            @include bp($desktopFullHd, min) {
              font-size: 22px;
              line-height: 22px;
            }
          }
        }
        .delete-btn-cell {
          display: flex;
          justify-content: center;
          align-items: center;
          &__delete-button {
            cursor: pointer;
            width: 20px;
            height: 20px;
            background: url('~assets/img/delete-ico.png') no-repeat center
              center;
            background-size: contain;
            @include bp($tablet, min) {
              width: 23px;
              height: 23px;
            }
            @include bp($desktopSmall, min) {
              width: 27px;
              height: 27px;
            }
            @include bp($desktopFullHd, min) {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
  }
  &__footer {
    height: 30px;
    display: flex;
    width: 100%;
    background-color: #343e40;
    color: white;
    font-weight: 400;
    font-size: 14px;
    @include bp($tablet, min) {
      height: 35px;
    }
    @include bp($desktopSmall, min) {
      height: 40px;
    }
    @include bp($desktopFullHd, min) {
      height: 50px;
    }
    div {
      line-height: 30px;
      @include bp($tablet, min) {
        line-height: 35px;
      }
      @include bp($desktopSmall, min) {
        line-height: 40px;
      }
      @include bp($desktopFullHd, min) {
        line-height: 50px;
      }
      &:first-child {
        width: 76%;
        text-align: right;
        @include bp($tablet, min) {
          font-size: 18px;
        }
        @include bp($desktopSmall, min) {
          font-size: 20px;
        }
        @include bp($desktopFullHd, min) {
          font-size: 22px;
        }
      }
      &:last-child {
        width: 24%;
        font-size: 18px;
        text-align: center;
        @include bp($tablet, min) {
          font-size: 22px;
        }
        @include bp($desktopSmall, min) {
          font-size: 24px;
        }
        @include bp($desktopFullHd, min) {
          font-size: 26px;
        }
      }
    }
  }
  .name-cell,
  .amount-cell,
  .delete-btn-cell {
    box-sizing: border-box;
    padding-left: 10px;
    height: 100%;
  }
  .name-cell {
    width: 50%;
    line-height: 30px;
    @include bp($tablet, min) {
      font-size: 16px;
      width: 60%;
    }
    @include bp($desktopSmall, min) {
      width: 75%;
      font-size: 18px;
    }
    @include bp($desktopFullHd, min) {
      width: 85%;
      font-size: 20px;
    }
  }
  .amount-cell {
    line-height: 30px;
    text-align: center;
    width: 35%;
    @include bp($tablet, min) {
      font-size: 16px;
      width: 25%;
    }
    @include bp($desktopSmall, min) {
      font-size: 18px;
      width: 15%;
    }
    @include bp($desktopFullHd, min) {
      font-size: 20px;
      width: 10%;
    }
  }
  .delete-btn-cell {
    line-height: 30px;
    width: 15%;
    @include bp($tablet, min) {
      width: 15%;
    }
    @include bp($desktopSmall, min) {
      width: 10%;
    }
    @include bp($desktopFullHd, min) {
      width: 5%;
    }
  }
}
